<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXCircleAnimationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A46F1351C24037200BAAE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A46F14E1C24037200BAAE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A46F1591C24037200BAAE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
